body {
    padding: 0;
    margin: 0;
    text-align: center;
}

table, tr, td {
    cellspacing: 0;
    cellpadding: 0;
    margin: 0;
    padding: 0;
}

#data {
    background-image: url('texture.jpg');
    background-color: #333333;
    width: 900px;
    font-family: Ebrima, sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px;
    color: #eeeeee;
    padding: 5px;
    margin: 0 auto;
}

.Value {
    color: darkorange;
    font-weight: bold;
}